<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <% if (locals.pos) { %>
        <form method="post" action="/api/edit/<%=pos.id%>">
            <textarea name="subject" type="text" class="feedback-input" placeholder="Subject"><%=pos.subject%></textarea>
            <textarea name="post" class="feedback-input" placeholder="Post"><%=pos.post%></textarea>
            <input type="submit" value="POST" />
        </form> 
    <% } %>
</body>
</html>  